# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore cache directories
**/__pycache__/

# Ignore virtual environment folders
envenv/


# Common virtualenvs
venv/
env/
.envenv/


# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore folders
.dist/
.vscode/
.pytest_cache
jax-sysid/


# Other ignores
.DS_Store
build/
*.egg-info/
DFN/
SPMeT/

