absl-py
anytree
asttokens
attrs
backoff
casadi
certifi
charset-normalizer
chex
colorama
comm
contourpy
control
cramjam
cycler
debugpy
decorator
diffrax
distro
duckdb
equinox
et_xmlfile
etils
executing
fastparquet
flax
fonttools
fsspec
future
galvani
humanize
idna
ImageIO
imageio-ffmpeg
importlib_resources
ipykernel
ipython
jax
jax-sysid
jaxlib
jaxopt
jaxtyping
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lineax
markdown-it-py
matplotlib
matplotlib-inline
mdurl
metakernel
ml_dtypes
mpmath
msgpack
nest-asyncio
numpy
openpyxl
opt_einsum
optax
optimistix
orbax-checkpoint
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
posthog
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pybamm
pybammsolvers
Pygments
pyparsing
pyswarms
python-dateutil
pytz
pywin32
PyYAML
pyzmq
requests
rich
scipy
six
stack-data
sympy
tensorstore
toolz
tornado
tqdm
traitlets
treescope
typeguard
typing_extensions
tzdata
urllib3
wadler_lindig
wcwidth
xarray
zipp
